*{
    padding: 0px;
    margin: 0px;
    
}
    
.header{
    width: 390px;
    height: 90px;
    background: #D9D9D9;
    text-align: center;
    font: Arial;
    padding-top: 25px;
    
}
.header_navigation{
    width: 390px;
    height: 70px;
    color: blue;
    font-size: 15px;
    background-color:#CFE5F1;
    text-decoration: none;
    text-align: center;
     
}
.header_navigation ul{
    list-style: none;
}
.header_navigation ul li{
    float:left;
    line-height: 67px;
    padding: 0px 20px;
    
   
} 
.content{
    width: 390px;
    height: 455px;
    font-style: Arial;
    background-color: #CFE5F1;
   
    
}
.content img{
    height: 345px;
    width: 180px;
    float: right;
}
.content button{
    background-color:  blue;


}
.fa-linkedin {
    background: #007bb5;
    color: white;
    
}   
.fa-facebook {
    background: #3B5998;
    color: white;
   
  }
.fa-youtube {
    background: #bb0000;
    color: white;
   
}
.footer{
    width: 390px;
    height: 40px;
    background-color: #D9D9D9;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;

}